<div class="row">
    <div class="col">
        <div class="card border-0">
            <div class="card-body">
                <h2>Add Schedule</h2>
                <form [formGroup]="addScheduleRequest.formScheduleAddGroup" class="row g-3" style="padding-right: 7em;">
                    <div class="col-md-3">
                        <label class="form-label">Airline</label>
                        <select [(ngModel)]="addScheduleRequest.airlineName" [ngModelOptions]="{standalone: true}"
                            class="form-select">
                            <option value="GOAIR" data-image-src><img src="../../assets/go air_logo.png">Go Air</option>
                            <option value="INDIGO"><img src="../../assets/indigo_logo.png">Indigo</option>
                            <option value="SPICEJET"><img src="../../assets/SpiceJet_logo.png">SpiceJet</option>
                            <option value="VISTARA"><img src="../../assets/vistara_logo.jpg">Vistara</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Flight No</label>
                        <input type="text" [(ngModel)]="addScheduleRequest.flightNumber"
                            formControlName="flightNumberControl" class="form-control">
                        <p style="color:red" [hidden]="!(HasError('required','flightNumberControl'))">Flight No is
                            required</p>
                    </div>
                    
                    <div class="col-md-3">
                        <label class="form-label">Source</label>
                        <select [(ngModel)]="addScheduleRequest.departure" [ngModelOptions]="{standalone: true}"
                            class="form-select">
                            <option value="" [disabled]="true" selected>Enter Origin City</option>
                            <option value="BLR">Bangalore</option>
                            <option value="MAA">Chennai</option>
                            <option value="DEL">Delhi</option>
                            <option value="HYD">Hyderabad</option>
                            <option value="MUM">Mumbai</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Destination</label>
                        <select [(ngModel)]="addScheduleRequest.destination" [ngModelOptions]="{standalone: true}"
                            class="form-select">
                            <option value="" [disabled]="true" selected>Enter Origin City</option>
                            <option value="BLR">Bangalore</option>
                            <option value="MAA">Chennai</option>
                            <option value="DEL">Delhi</option>
                            <option value="HYD">Hyderabad</option>
                            <option value="MUM">Mumbai</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Departure Date</label>
                        <input type="datetime-local" formControlName="startDateControl" min="{{today}}"
                            [(ngModel)]="addScheduleRequest.departureDateTime" class="form-control">
                        <p style="color:red" [hidden]="!(HasError('required','startDateControl'))">Start date is
                            required</p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Destination Date</label>
                        <input type="datetime-local" formControlName="endDateControl" min="{{today}}"
                            [(ngModel)]="addScheduleRequest.destinationDateTime" class="form-control">
                        <p style="color:red" [hidden]="!(HasError('required','endDateControl'))">End date is required
                        </p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Model Used</label>
                        <select [(ngModel)]="addScheduleRequest.modelType" [ngModelOptions]="{standalone: true}"
                            class="form-select">
                            <option value="A320">A320</option>
                            <option value="Air Bus Neo">Air Bus Neo</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Airline Status</label>
                            <select [(ngModel)]="addScheduleRequest.airlineStatus" [ngModelOptions]="{standalone: true}"
                                class="form-select">
                                <option value="Active">Active</option>
                                <option value="Blocked">Blocked</option>
                            </select>
                    </div>
                    <div></div>
                    <div class="col-md-3">
                        <label class="form-label">No. of Business Class Seats</label>
                        <input type="number" formControlName="businessSeatControl"
                            [(ngModel)]="addScheduleRequest.noOfBusinessClassSeats" class="form-control">
                        <p style="color:red" [hidden]="!(HasError('required','businessSeatControl'))">Required Field</p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">No. of Non-Business Class Seats</label>
                        <input type="text" [(ngModel)]="addScheduleRequest.noOfNonBusinessClassSeats"
                            formControlName="regularSeatControl" class="form-control">
                        <p style="color:red" [hidden]="!(HasError('required','regularSeatControl'))">Required Field</p>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">No. of Rows</label>
                        <input type="number" [(ngModel)]="addScheduleRequest.numberOfRows" formControlName="rowControl"
                            class="form-control">
                        <p style="color:red" [hidden]="!(HasError('required','rowControl'))">Required Field</p>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Meal Type</label>
                        <select [(ngModel)]="addScheduleRequest.meal" [ngModelOptions]="{standalone: true}"
                            class="form-select">
                            <option value="None">None</option>
                            <option value="Non-Veg">Non-Veg</option>
                            <option value="Veg">Veg</option>
                            <option value="Both">Both</option>
                        </select>
                    </div>
                    <div></div>
                    <div class="col-md-3">
                        <label class="form-label">Ticket Cost</label>
                        <input type="number" [(ngModel)]="addScheduleRequest.ticketCost"
                            formControlName="ticketCostControl" class="form-control">
                        <p style="color:red" [hidden]="!(HasError('required','ticketCostControl'))">Required Field</p>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Scheduled Days</label>
                        <input type="text"[(ngModel)]="addScheduleRequest.scheduledDays" formControlName="scheduledDaysControl"
                         class="form-control">
                         <p style="color:red" [hidden]="!(HasError('required','scheduledDaysControl'))">Required Field</p>
                    </div>

                    <div class="py-4">
                        <button type="submit" [disabled]="!addScheduleRequest.formScheduleAddGroup.valid"
                            (click)="AddScheduleInventory()" class="btn btn-primary">{{"Add Schedule"}}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row g-3 py-4">
    <h2 style="text-align: center;">Manage Schedule</h2>
    <div></div>

    <div *ngIf="isNoResultFound">
        <h1 style="text-align: center;">No Bookings found</h1>
    </div>

    <div class="py-4" *ngIf="bookingHistoryResponse.length > 0">
        <table class="table caption-top table-light table-striped table-hover">
            <thead>
                <tr>
                    <th>PNR</th>
                    <th>BookingId</th>
                    <th>AirlineName</th>
                    <th>TicketCost</th>
                    <th>DateOfJourney</th>
                    <th>BookingStatus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookingHistoryResponse">
                    <td>{{booking.pnr}}</td>
                    <td>{{booking.bookingId}}</td>
                    <td>{{booking.airlineName}}</td>
                    <td>{{booking.ticketCost}}</td>
                    <td>{{booking.dateOfJourney | date : 'medium'}}</td>
                    <td>{{booking.bookingStatus}}</td>
                    <td>
                        <div class="py-4">
                            <span><input type="button" class="btn btn-secondary" value="View"
                                    (click)="viewTicket(booking.pnr)" /></span>
                            <span style="padding-left: 4px;"><input type="button" class="btn btn-danger" value="Cancel"
                                    *ngIf="booking.bookingStatus!='Canceled' && IsCancelAllowed(booking)"
                                    (click)="cancelTicket(booking.pnr)" /></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->

<div *ngIf="showSpinner" class="loader" role="status">
    <span class="visually-hidden">Loading</span>
</div>


<!-- Button trigger modal -->
<button id="btnLaunchModal" type="button" style="visibility: hidden;" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalHeader}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label [innerText]="modalText"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>