<div class = "row g-3 py-4" >
  <h2 style="text-align: center;">Ticket Details</h2>
  <div class="col-md-6">
      <label class="form-label">PNR Number</label>
      <input [(ngModel)]="pnrNumber" maxlength="100" class="form-control" type="text" />
  </div>
  <div></div>
  <div class="col-md-4">
      <input type="submit" (click)="GetTicketHistory()" [disabled]="pnrNumber == ''" class="btn btn-primary" value="Search PNR"/>
  </div>
  </div>

  <div *ngIf="isNoResultFound">
    <h1 style="text-align: center;">No Bookings found</h1>
  </div>

  <div class="py-4" *ngIf="showResultList">
    <table class="table caption-top table-striped table-hover">
        <thead>
            <tr>
                <th>Booked On</th>
                <th style="padding-left: 24px;">Airline Name</th>
                <th>Total Cost</th>
                <th>No of seats</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div style="width: 100px;" class="text-truncate py-4">{{ticketDetails.bookedOn}}</div></td>
                <td><div style="width: 130px; padding-left: 2%;" class="text-truncate py-4">{{ticketDetails.airlineName}}</div></td>
                <td><div style="width: 130px; padding-left: 2%;" class="text-truncate py-4">{{ticketDetails.ticketCost | number}}</div></td>
                <td><div style="width: 130px; padding-left: 14%;" class="text-truncate py-4">{{ticketDetails.noOfSeats}}</div></td>
                <td><div class="py-4">
                    <input type="button" class="btn btn-info" value="View Details" (click)="ViewTicketDetails()"/>
                    </div>
                    </td>
            </tr>
        </tbody>
    </table>
</div>



<div *ngIf="showSpinner" class="loader" role="status">
    <span class="visually-hidden">Loading</span>
  </div>

  <!-- Button trigger modal -->
<button id="btnLaunchModal" type="button" style="visibility: hidden;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{modalHeader}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <label [innerText]="modalText"></label>  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>